{% extends "base.html" %}
{% block tab_content %} 
    About
{% endblock %}
{% block page_content %}
    <div class="container">
            <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <h1 class="mt-4">About</h1>
                <hr>
                <!-- Post Content -->
<!--                <p class="lead">This is my blog. There are many like it, but THIS one...is mine.</p>-->
                <h4>
                    Hi, I'm <a href="https://www.howtopronounce.com/byung-joon/12499486" target="_blank">ByoungJun</a>!<br>
                </h4>
                <p class="lead">
                    Support geniuses who will change the world for the better 🌎<br>
                </p>
                <h5> Me in 5 seconds </h5>
                    <ul>
                        <li>Help retail investors to build wealth with the US stocks & crypto on <a href="https://www.youtube.com/channel/UC5zrmKwmvUQXHUXVQRAa1og">YouTube</a> 🇰🇷</li>
                        <li><a href="https://byoungjunjo.wordpress.com/" target="_blank">Write</a> on my blog: Essays<br></li>
                        <li><a href="https://twitter.com/bjunjo" target="_blank">Tweet</a> in Korean & English<br></li>
                        <li><a href="https://github.com/bjunjo" target="_blank">Code</a> in Python ☕️<br></li>
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}